.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.right-bg{
  background: #d7d7ff;
  width: 100%;
  height: 100vh;
}
.d-flex{
  display: flex;
}
.flex-wrap{
  flex-wrap: wrap;
}
.just-center{
  justify-content: center;
}

@media only screen and (max-width:768px) {
  .d-flex{
    display: flex;
    flex-direction: column;
  }
  .align-center{
    align-items: center;
  }
}
.double-chart{
  width: 50%;
  height: 60vh;
  min-width: 400px;
}
.left-page{
  padding: 10px 20px;
  min-width: 200px;
}
.page-logo{
  width: 150px;
  text-align: center;
}